@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*{
  padding: 0px;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background: #E5E9EF;
}

nav {
  position: absolute;
  width: 6.25vw;
  height: 100vh;
  background: #A44B85;
}

#nav-ul {
  position: absolute;
  left: 2.34375vw;
  top: 19.44vh;
  width: 1.5625vw;
  height: 50vh;
  margin: 0;
  text-align: center;
}

.nav-li {
  width: 1.5625vw;
  height: 2.78vh;
  margin-bottom: 5.56vh;
  list-style: none;
  color: #FFFFFF;
}

.nav-li input, #nav-avatar input, #nav-logout input {
  width: 1.5625vw;
  height: 2.78vh;
}

#nav-line {
  position: absolute;
  width: 3.125vw;
  height: 0vh;
  left: 1.5625vw;
  top: 83.33vh;
  border: 0.28vh solid #FFFFFF;
}

#nav-avatar {
  position: absolute;
  left: 2.34375vw;
  top: 86.11vh;
  width: 1.5625vw;
  height: 2.78vh;
  color: #FFFFFF;
  text-align: center;
}

#nav-logout {
  position: absolute;
  left: 2.34375vw;
  top: 94.44vh;
  width: 1.5625vw;
  height: 2.78vh;
  color: #FFFFFF;
  text-align: center;
}

#outer-box {
  position: absolute;
  width: 90.625vw;
  height: 83.33vh;
  left: 7.8125vw;
  top: 2.78vh;
  background: #FFFFFF;
  border-radius: 1.389vh;
}

.new_button, .clear_button, .submit_button {
  position: absolute;
  bottom: 2.78vh;
  height: 2.78vh;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5278vh;

  background: #2D2D2D;
  border: 0px;
  border-radius: 0.2778vh;
  color: #FFFFFF;
  cursor: pointer;
}

.new_button {
    color: #FFFFFF;
}

.clear_button {
    background: #FF0000;
}

.submit_button {
    background: #4164DF;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cross {
  cursor: pointer;
}

input:read-only, input:disabled, select:disabled {
  background: #C4C4C4 !important; 
}

input, select, textarea {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.15625vw;
  padding-left: 0.15625vw;
}

table tbody tr:not([style*="display: none"]):nth-child(odd) {
  background: #FFFFFF;
}

table tbody tr:not([style*="display: none"]):nth-child(even) {
  background: #E6E6E6;
}

.error_box {
  position: relative;
  top: 5.556vh;
  left: 79.6875vw;
  width: 18.75vw;
  height: 5.56vh;
  border-radius: 0.6944vh;
  background: rgba(45, 45, 45, 0.80);
  box-shadow: 0px 0.556vh 0.3125vw 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
  margin-bottom: 2.78vh;
}

.error_box img.cross {
  width: 3.125vw;
  height: 5.56vh;
}

.error_box h2 {
  position: absolute;
  bottom: 2.778vh;
  display: inline-flex;
  width: 12.5vw;
  height: 2.22vh;
  text-align: left;
  flex-shrink: 0;
  color: #FFF;

  /* Body Bold */
  font-family: 'Inter';
  font-size: 1.52778vh;
  font-style: normal;
  font-weight: 700;
  line-height: 2.22vh;
  margin: 0;
}

.error_box h3 {
  position: absolute;
  bottom: 0.556vh;
  display: inline-flex;
  width: 12.5vw;
  height: 1.667vh;
  color: #E6E6E6;

  /* Sub-Body */
  font-family: 'Inter';
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 500;
  line-height: 1.667vh;
  margin: 0;
}

.error_box img.close {
  position: absolute;
  width: 0.625vw;
  height: 1.11vh;
  top: 2.22vh;
  right: 1.25vw;
  cursor: pointer;
}