#highlight {
  position: absolute;
  left: 0vw;
  top: 33.33vh;
  width: 6.25vw;
  height: 8.33vh;
  background: rgba(245, 248, 253, 0.4);
}

#product_form_box {
  position: absolute;
  display: flex;
  top: 5.56vh;
  left: 10.9375vw;
  width: 84.375vw;
  height: 41.667vh;
}

.product_form_box {
  display: inline-block;
  width: 18.75vw;
  height: 41.67vh;
  margin-left: 3.125vw;
  border-radius: 1.3889vh;
  background: #FFFFFF;
}

.product_form_box:first-child {
  margin-left: 0;
}

h1 {
  display: inline-block;
  width: 15.625vw;
  height: 2.78vh;
  color: #2D2D2D;
  margin: 0;
  margin-top: 2.78vh;
  margin-left: 1.5625vw;
  /* SubHeader */
  font-family: 'Inter';
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 700;
}

.product_form_box div {
  display: inline-flex;
  width: 15.625vw;
  height: 2.78vh;
  margin-top: 2.78vh;
  margin-left: 1.5625vw;
}

.product_form_box div label {
  display: inline-flex;
  width: 4.6875vw;
  height: 2.78vh;
  color: #2D2D2D;
  /* Sub-Body */
  font-family: 'Inter';
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 1.5625vw;
  align-items: center;
}

.product_form_box div input, .product_form_box div select, .product_form_box div textarea  {
  display: inline-flex;
  width: 9.375vw;
  height: 2.78vh;
  color: #2D2D2D;
  /* Sub-Body Bold */
  font-family: 'Inter';
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 600;
  border-radius: 0.27778vh;
  border: 0.13889vh solid #2D2D2D;
  background: #FFF;
  box-sizing: border-box;
  text-align: center;
}

.product_form_box div textarea {
  height: 8.33vh;
}

.product_form_box div input[type='radio'] {
  display: inline-flex;
  width: 1.5625vw;
  height: 2.78vh;
  vertical-align: middle;
  accent-color: #A44B85;
  margin: 0;
}

#id_calculation {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  width: 9.375vw;
  height: 8.33vh;
}

#id_calculation div {
  display: inline-flex;
  margin: 0;
  width: 9.375vw;
  height: 2.78vh;
}

#id_calculation label {
  display: inline-flex;
  margin: 0;
  margin-left: 1.5625vw;
  width: 6.25vw;
  height: 2.778vh;
}

#studs_box {
  position: absolute;
  top: 52.778vh;
  left: 10.9375vw;
  width: 50vw;
  height: 30.556vh;
  background: #FFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#studs_table {
  display: inline-block;
  width: 46.875vw;
  height: 19.44vh;
  margin-left: 1.5625vw;
  margin-top: 2.78vh;
  border-collapse: collapse;
  overflow-y: scroll;
}

#studs_table thead {
  background: #2D2D2D;
}

table#studs_table thead th {
  height: 2.78vh;
  /* Sub-Body Bold */
  font-family: 'Inter';
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: #FFFFFF;
  padding-right: 1.5625vw;
}

table#studs_table tbody td {
  height: 2.778vh;
  font-family: 'Inter';
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #2D2D2D;
  border: 0;
  padding-right: 1.5625vw;
  border: 0;
}

table tbody tr:nth-child(2n-1) {
  background: #FFFFFF;
}

table tbody tr:nth-child(2n) {
  background: #E6E6E6;
}

table#studs_table p {
  width: fit-content;
  display: inline;
}

table#studs_table td:nth-child(1), table#studs_table th:nth-child(1) {
  width: 1.5625vw;
  text-align: center;
}

table#studs_table td:nth-child(2), table#studs_table th:nth-child(2) {
  width: 4.6875vw;
  text-align: left;
}

table#studs_table td:nth-child(3), table#studs_table th:nth-child(3) {
  width: 3.125vw;
  text-align: center;
}

table#studs_table td:nth-child(4), table#studs_table th:nth-child(4) {
  width: 3.125vw;
  text-align: left;
}

table#studs_table td:nth-child(5), table#studs_table th:nth-child(5) {
  width: 4.6875vw;
  text-align: left;
}

table#studs_table th:nth-child(6) {
  width: 3.125vw;
  text-align: center;
}

table#studs_table td:nth-child(6) {
  width: 3.125vw;
  text-align: right;
}

table#studs_table td:nth-child(7), table#studs_table th:nth-child(7) {
  width: 4.6875vw;
  text-align: center;
}

table#studs_table td:nth-child(8), table#studs_table th:nth-child(8) {
  width: 3.125vw;
  text-align: center;
}


table#studs_table th:nth-child(9) {
  width: 4.6875vw;
  text-align: center;
  padding-right: 0;
}

table#studs_table td:nth-child(9) {
  width: 4.6875vw;
  text-align: right;
  padding-right: 0;
}

table#studs_table td:nth-child(10), table#studs_table th:nth-child(10) {
  width: 1.5625vw;
}

#studs_subform_box {
  position: absolute;
  display: inline-flex;
  width: 34.375vw;
  height: 30.556vh;
  top: 52.778vh;
  right: 4.6875vw;
  background: rgba(237, 237, 237, 0.60);
  border-radius: 0px 1.389vh 1.389vh 0px;
  box-sizing: border-box;
}

#stud_subform {
  display: inline-flex;
  width: 34.375vw;
  height: 22.222222222vh;
  flex-direction: column;
  flex-wrap: wrap;
  columns: 2;
}

#stud_subform div {
  display: inline-flex;
  width: fit-content;
  margin: 0;
}

#stud_subform div label {
  display: inline-flex;
  width: 3.125vw;
  height: 2.778vh;
  margin: 0;
  text-align: left;

  color: #2D2D2D;
  /* Sub-Body */
  font-family: 'Inter';
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 500;
  line-height: 2.778vh;
  margin-top: 2.778vh;
  margin-left: 1.5625vw;
}

#stud_subform div input, #stud_subform div select {
  display: inline-flex;
  width: 10.9375vw;
  height: 2.778vh;
  margin: 0;
  text-align: left;

  color: #2D2D2D;
  text-align: center;
  /* Sub-Body Bold */
  font-family: 'Inter';
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 0.2778vh;
  border: 0.13889vh solid #2D2D2D;
  background: #FFF;
  box-sizing: border-box;
  margin-top: 2.778vh;
}

#stud_subform div label[for='id_unit'] {
  display: none;
}

#stud_subform div #id_less {
  width:auto;
}

#stud_subform div #id_weight {
  width: 6.25vw;
}

#stud_subform div #id_unit {
  position: absolute;
  top:8.33vh;
  right: 1.5625vw;
  width: 3.125vw;
  margin: 0;
  margin-left: 1.5625vw;
}

#stud_new {
  width: 9.375vw;
  left: 1.5625vw;
}

#stud_clear {
  width: 9.375vw;
  left: 12.5vw;
}

#stud_submit {
  width: 9.375vw;
  right: 1.5625vw;
}

#totals_box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 93.75vw;
  height: 11.11vh;
  background: rgba(255, 255, 255, 0.80);
}

#save, #cancel {
  position: absolute;
  cursor: pointer;
  width: 9.375vw;
  height: 5.56vh;
  border: 0.15625vw solid #A44B85;
  border-radius: 2.778vh;
  background: #A44B85;
  color: #FFF;
  text-align: center;

  /* Body Bold */
  font-family: 'Inter';
  font-size: 1.52778vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

#save {
  right: 1.5625vw;
  bottom: 2.778vh;
  background: #A44B85;
  border: 0.15625vw solid #A44B85;
  color: #FFFFFF;
}

#cancel {
  right: 12.5vw;
  bottom: 2.7778vh;
  background: #2D2D2D;
  border: 0.15625vw solid #2D2D2D;
  color: #FFFFFF;
}


