{% extends "sales/layout.html" %}
{% load static %}

{% block title %}Advances{% endblock %}

{% block link_extend %}
  <link rel="stylesheet" href="{% static 'sales/css/advances.css' %}">
{% endblock %}

{% block new_button_link %}{% url 'advance_new' %}{% endblock %}
{% block export_button_link %}<!-- TODO: Add link to AdvanceExport -->{% endblock %}

{% block table %}
<table id="table-thead">
  <thead>
    <tr>
      <th>No.</th>
      <th>Date</th>
      <th>Name</th>
      <th>Firm</th>
      <th>GST</th>
      <th>PAN</th>
      <th>Contact</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
</table>

<table id="table">
  <tbody>
    {% for advance in advances %}
    <tr>
      <td>{{ advance.advance_number }}</td>
      <td>{{ advance.date |date:"d-m-Y" }}</td>
      <td>{{ advance.customer.name }}</td>
      <td>{{ advance.customer.firm }}</td>
      <td>{{ advance.customer.gst }}</td>
      <td>{{ advance.customer.pan }}</td>
      <td>{{ advance.customer.contact }}</td>
      <td>{{ advance.amount }}</td>
      <td>
        <a href="{% url 'advance_edit' pk=advance.pk %}"><img src="{% static 'masters/svg/edit.svg' %}" alt="Edit" title="Edit"></a>
        <a href="{% url 'advance_edit' pk=advance.pk %}"><img src="{% static 'masters/svg/print.svg' %}" alt="Print" title="Print"></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
