{% extends "masters/layout.html" %}
{% load static %}

{% block title %}Advance New{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'sales/css/advance_form.css' %}">
  <script src="{% static 'sales/js/advance_form.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}
<form action="{{request.path }}" method="post">
  {% csrf_token %}

  <div id="advance_box">
    <div>
      <label for="id_id">I.D.</label>
      <input type="text" value="{{ id }}" readonly>
    </div><!-- 
    -->{{ form.as_div }}
  </div>

  <div id="customer_box">
    {{ customer_form.as_div }}
  </div>

  <div id="payments_box">
    {{ payment_formset.management_form }}
    <h1>Payments</h1>
    <table id="payments_table">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Method</th>
          <th>Name</th>
          <th>Amount</th>
          <th hidden></th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        {% for payment in payment_formset %}
          <tr>
            <td id="id_#_table">{{ forloop.counter }}</td>
            <td id="id_date_table">{{ payment.date }}</td>
            <td id="id_method_table">{{ payment.method }}</td>
            <td id="id_name_table">{{ payment.name }}</td>
            <td id="id_amount_table">{{ payment.amount }}</td>
            <td hidden>
              {{ payment.as_div }}
            </td>
            <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deletePaymentRow(this)"></td>
          </tr>
        {% endfor %}

        <tr style="display: none;">
          <td id="id_#_table"></td>
            <td id="id_date_table"></td>
            <td id="id_method_table"></td>
            <td id="id_name_table"></td>
            <td id="id_amount_table"></td>
          <td hidden>
            {{ payment_formset.empty_form.as_div }}
          </td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deletePaymentRow(this)" style="display: none;"></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div id="totals_box">
    <div>
      <p>Amount</p>
      <span id="id_amount_total"></span>
    </div>
  </div>

  <a href="{% url 'advances' %}"><button type="button" class="new_button" id="advance_cancel">Cancel</button></a>
  <button type="reset" class="clear_button" id="advance_clear">Reset</button>
  <button type="submit" class="submit_button" id="advance_submit">Submit</button>
</form>

<div id="payment_subform">
  <button type="button" class="new_button" id="payment_new" onclick="newPaymentRow(this)">New</button>
  <form action="javascript:submitPaymentRow(this)" id="payments_subform" hidden>
    <div id="payment_subform_div">
      {{ payment_form.as_div }}
    </div>

    <button type="reset" class="clear_button" id="payment_clear">Clear</button>
    <button type="submit" class="submit_button" id="payment_submit">Submit</button>
  </form>
</div>
  
{% endblock %}
