{% extends "masters/layout.html" %}
{% load static %}

{% block title %}Advance New{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'sales/css/advance_form.css' %}">
  <script src="{% static 'sales/js/advance_form.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}
  <span id="label-2">Payments</span>

  <div id="box-1">
    <span id="label-3">Payment Details</span>
    <div id="form-hidden" hidden>
      <form>
        {{ payment_form.method }}
        <label for="id_date" class="box_1_labels">Date</label>
        {{ payment_form.date }}
        <label for="id_name" class="box_1_labels">Name</label>
        {{ payment_form.name }}
        <label for="id_amount" class="box_1_labels">Amount</label>
        {{ payment_form.amount }}

        <label for="id_card_bank" class="box_1_labels">Bank</label>
        {{ payment_form.card_bank }}
        <label for="id_card_number" class="box_1_labels">Card No.</label>
        {{ payment_form.card_number }}

        <label for="id_cheque_number" class="box_1_labels">Cheque No.</label>
        {{ payment_form.cheque_number }}
        <label for="id_cheque_branch" class="box_1_labels">Bank</label>
        {{ payment_form.cheque_branch }}
        <label for="id_cheque_account_number" class="box_1_labels">Account No.</label>
        {{ payment_form.cheque_account_number }}
        <label for="id_cheque_ifsc" class="box_1_labels">IFSC</label>
        {{ payment_form.cheque_ifsc }}

        <label for="id_upi_vpa" class="box_1_labels">VPA</label>
        {{ payment_form.upi_vpa }}
        <label for="id_upi_mobile" class="box_1_labels">Mobile</label>
        {{ payment_form.upi_mobile }}

        <label for="id_wire_account_number" class="box_1_labels">Account No.</label>
        {{ payment_form.wire_account_number }}
        <label for="id_wire_utr" class="box_1_labels">UTR</label>
        {{ payment_form.wire_utr }}
        <label for="id_wire_bank" class="box_1_labels">Bank</label>
        {{ payment_form.wire_bank }}
      </form>
    </div>
  </div>

  <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table id="table">
      <tbody>
        {% for payment_formset in formset %}
        <tr>
          <td onclick="addRow(this)">{{ forloop.counter }}</td>
          <td>{{ payment_formset.method }}</td>
          <td>{{ payment_formset.date }}</td>
          <td>{{ payment_formset.name }}</td>
          <td>{{ payment_formset.amount }}</td>
          <td hidden>
            {% for field in payment_formset.hidden_fields %}
              {{ field }}
            {% endfor %}
          </td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteRow(this)"></td>
        </tr>
        {% endfor %}
        <tr>
          <td id="add" onclick="addRow(this)">Add</td>
          <td>{{ formset.empty_form.method }}</td>
          <td>{{ formset.empty_form.date }}</td>
          <td>{{ formset.empty_form.name }}</td>
          <td>{{ formset.empty_form.amount }}</td>
          <td hidden>
            {% for field in formset.empty_form.hidden_fields %}
              {{ field }}
            {% endfor %}
          </td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteRow(this)" style="display:none;"></td>
        </tr>
      </tbody>
    </table>
</div>

  <span id="label-1">Details</span>
  <ul id="input-ul">
    <li><label for="id_id">I.D.</label><input type="number" name="id" value="{{ id }}" readonly required id="id_id"></li><!--
    --><li><label for="id_payent_date">Date</label>{{ form.date }}</li><!--
    --><li><label for="id_payment_name">Name</label>{{ customer_form.name }}</li><!--
    --><li><label for="id_firm">Firm</label>{{ customer_form.firm }}</li><!--
    --><li><label for="id_gst">GST</label>{{ customer_form.gst }}</li><!--
    --><li><label for="id_pan">PAN</label>{{ customer_form.pan }}</li><!--
    --><li><label for="id_contact">Contact</label>{{ customer_form.contact }}</li>
  </ul>

  <button type="submit" name="submit" id="submit">Submit</button>
  </form>
  <a href="{% url 'advances' %}"><button type="button" name="cancel" id="cancel">Cancel</button></a>
{% endblock %}
