{% extends "sales/layout.html" %}
{% load static %}

{% block link_extend %}
  <link rel="stylesheet" href="{% static 'sales/css/home_sales.css' %}">
{% endblock %}

{% block new_button_link %}<!-- TODO: Add link to HomeSaleNew -->{% endblock %}
{% block export_button_link %}<!-- TODO: Add link to HomeSaleExport -->{% endblock %}

{% block table %}
<table id="table-thead">
  <thead>
    <tr>
      <th>I.D.</th>
      <th>Date</th>
      <th>Gross Wt.</th>
      <th>Less Wt.</th>
      <th>Net Wt.</th>
    </tr>
  </thead>
</table>

<table id="table">
  <tbody>
    {% for home_sale in home_sales %}
    <tr>
      <td>{{ home_sale.id }}</td>
      <td>{{ home_sale.date }}</td>
      <td>{{ home_sale.gross_weight }}</td>
      <td>{{ home_sale.less_weight }}</td>
      <td>{{ home_sale.net_weight }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
