{% extends "masters/layout.html" %}
{% load static %}

{% block title %} Invoice Form {% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'sales/css/invoice_form_1.css' %}">
  <script src="{% static 'sales/js/invoice_form_1.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}
  <form action="{{ request.path }}" method="post">
    <div id="box-1">
      <label for="id" class="invoice_form_labels">I.D.</label><input type="number" name="id" value="{{ id }}" class="invoice_form_inputs" readonly>
      <label for="date" class="invoice_form_labels">Date</label>{{ form.date }}
      <label for="bill_number" class="invoice_form_labels">Invoice No.</label>{{ form.invoice_number }}
      <label for="gst_bill_number" class="invoice_form_labels">GST Bill No.</label>{{ form.gst_invoice }}
      <label for="gst_state" class="invoice_form_labels">State</label>{{ form.gst_state }}
    </div>
    <div id = "box-2">
      <table>
        <thead>
          <th></th>
          <th>Tagged</th>
          <th>Untagged</th>
        </thead>
        <tbody>
          <tr>
            <th>Items</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Gross Weight</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Net Weight</th>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="box-3">
      <label for="name" class="customer_form_labels">Name</label>{{ customer_form.name }}
      <label for="firm" class="customer_form_labels">Firm</label>{{ customer_form.firm }}
      <label for="gst" class="customer_form_labels">GST</label>{{ customer_form.gst }}
      <label for="pan" class="customer_form_labels">PAN</label>{{ customer_form.pan }}
      <label for="contact" class="customer_form_labels">Contact</label>{{ customer_form.contact }}
      <label for="email" class="customer_form_labels">Email Address</label>{{ customer_form.email }}
      <label for="address" class="customer_form_labels">Address</label>{{ customer_form.address }}
      <label for="pincode" class="customer_form_labels">Pin Code</label>{{ customer_form.pincode }}
      <label for="city" class="customer_form_labels">City</label>{{ customer_form.city }}
      <label for="state" class="customer_form_labels">State</label>{{ customer_form.state }}
    </div>
  </div>
  <button type="submit" name="submit" value="submit" id="submit">Next</button>
  </form>
  <a href="{% url 'invoices' %}"><button type="submit" name="back" id="back">Back</button></a>
  </form>
{% endblock %}
