{% extends "masters/layout.html" %}
{% load static %}

{% block title %} Invoice Form {% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'sales/css/invoice_form.css' %}">
  <script src="{% static 'sales/js/invoice_form.js' %}" charset="utf-8"></script>
{% endblock %}

{% block errors %}
  {% for key,errors in form.errors.items  %}
    {% for error in errors %}
      <div class="error_box">
        <img src="{% static 'masters/svg/cross.svg' %}" title="Error" class="cross">
        <h2>Error</h2>
        <h3>{{ error }}</h3>
        <img src="{% static 'masters/svg/close.svg' %}" title="Close" class="close" onclick="this.parentElement.style.display = 'none'">
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}

{% block body %}
</div>

<form action="{{request.path }}" method="post">
  {% csrf_token %}

  <div id="invoice_box">
    <div>
      <label for="id_id">I.D.</label>
      <input type="text" value="{{ id }}" readonly>
    </div>
    {{ form.as_div }}
  </div>

  <div id="customer_box">
    {{ customer_form.as_div }}
  </div>

  <div id="products_box">
    {{ product_formset.management_form }}
    {{ untagged_formset.management_form }}
    <h1>Products</h1>
    <table class="products_table" id="products_table">
      <thead>
        <tr>
          <th>Tagged</th>
          <th>Gross Wt.</th>
          <th>Net Wt.</th>
          <th>Subtotal</th>
          <th>Tax</th>
          <th>Total</th>
          <th hidden></th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        {% for product in product_formset %}
          <tr>
            <td><p id="id_metal_table">{{ product.instance.product.metal }}</p> <p id="id_category_table">{{ product.instance.product.category }}</p></td>
            <td id="id_gross_weight_table">{{ product.instance.product.gross_weight }}</td>
            <td id="id_net_weight_table">{{ product.instance.product.net_weight }}</td>
            <td id="id_subtotal_table">{{ product.subtotal.value }}</td>
            <td id="id_tax_table">{{ product.sgst.value | add:product.cgst.value |add:product.igst.value |add:product.tcs.value }}</td>
            <td id="id_total_table">{{ product.total.value }}</td>
            <td hidden>
              {{ product.as_div }}
              <input type="number" name="id-__prefix__-tax" id="" value="{{ product.sgst.value | add:product.cgst.value |add:product.igst.value |add:product.tcs.value }}" hidden>
            </td>
            <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteProductRow(this)"></td>
          </tr>
        {% endfor %}

        <tr style="display: none;">
          <td><p id="id_metal_table"><p> <p id="id_category_table"></p></td>
          <td id="id_gross_weight_table"></td>
          <td id="id_net_weight_table"></td>
          <td id="id_subtotal_table"></td>
          <td id="id_tax_table"></td>
          <td id="id_total_table"></td>
          <td hidden>
            {{ product_formset.empty_form.as_div }}
            <input type="number" name="id-__prefix__-tax" id="" hidden>
          </td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteProductRow(this)" style="display: none;"></td>
        </tr>
      </tbody>
    </table>

    <table class="products_table" id="untagged_table">
      <thead>
        <tr>
          <th>Untagged</th>
          <th>Gross Wt.</th>
          <th>Net Wt.</th>
          <th>Subtotal</th>
          <th>Tax</th>
          <th>Total</th>
          <th hidden></th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        {% for product in untagged_formset %}
          <tr>
            <td><p id="id_metal_table">{{ product.instance.metal }}</p> <p id="id_category_table">{{ product.instance.category }}</p></td>
            <td id="id_gross_weight_table">{{ product.gross_weight.value }}</td>
            <td id="id_net_weight_table">{{ product.net_weight.value }}</td>
            <td id="id_subtotal_table">{{ product.subtotal.value }}</td>
            <td id="id_tax_table">{{ product.sgst.value | add:product.cgst.value |add:product.igst.value |add:product.tcs.value }}</td>
            <td id="id_total_table">{{ product.total.value }}</td>
            <td hidden>
              {{ product.as_div }}
              <input type="number" name="id-__prefix__-tax" id="" hidden value="{{ product.sgst.value | add:product.cgst.value |add:product.igst.value |add:product.tcs.value }}">
            </td>
            <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteProductRow(this)"></td>
          </tr>
        {% endfor %}

        <tr style="display: none;">
          <td><p id="id_metal_table"></p> <p id="id_category_table"></p></td>
          <td id="id_gross_weight_table"></td>
          <td id="id_net_weight_table"></td>
          <td id="id_subtotal_table"></td>
          <td id="id_tax_table"></td>
          <td id="id_total_table"></td>
          <td hidden>
            {{ untagged_formset.empty_form.as_div }}
            <input type="number" name="id-__prefix__-tax" id="" hidden>
          </td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteProductRow(this)" style="display: none;"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="advances_box">
    {{ advance_formset.management_form }}
    <h1>Advances</h1>
    <table id="advances_table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Name</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for advance in advance_formset %}
          <tr>
            <td id="id_advance_table">{{ advance.advance.pk }}</td>
            <td id="id_date_table">{{ advance.instance.advance.date }}</td>
            <td id="id_name_table">{{ advance.instance.advance.customer.name }}</td>
            <td id="id_amount_table">{{ advance.instance.advance.amount }}</td>
            <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteRow(this)"></td>
            <td hidden>
              {{ advance.as_div }}
              <div><input name="name-__prefix__-date" value="{{ advance.instance.advance.date }}"></div>
              <div><input name="name-__prefix__-name" value="{{ advance.instance.advance.customer.name }}"></div>
              <div><input name="name-__prefix__-amount" value="{{ advance.instance.advance.amount }}"></div>
            </td>
          </tr>
        {% endfor %}
        <tr style="display: none;">
          <td id="id_advance_table"></td>
          <td id="id_date_table"></td>
          <td id="id_name_table"></td>
          <td id="id_amount_table"></td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteRow(this)" style="display:none;"></td>
          <td hidden>
            {{ advance_formset.empty_form.as_div }}
            <div><input name="name-__prefix__-date" value=""></div>
            <div><input name="name-__prefix__-name" value=""></div>
            <div><input name="name-__prefix__-amount" value=""></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="payments_box">
    {{ payment_formset.management_form }}
    <h1>Payments</h1>

    <table id="payments_table">
      <thead>
        <tr>
          <th>#</th>
          <th>Method</th>
          <th>Date</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for payment in payment_formset %}
          <tr>
            <td id="id_serial_number_table">{{ forloop.counter }}</td>
            <td id="id_method_table">{{ payment.method.value }}</td>
            <td id="id_date_table">{{ payment.date.value |date:"Y-m-d" }}</td>
            <td id="id_amount_table">{{ payment.amount.value }}</td>
            <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteRow(this)"></td>
            <td hidden>
              {{ payment.as_div }}
            </td>
          </tr>
        {% endfor %}
        <tr style="display: none;">
          <td id="id_serial_number_table"></td>
          <td id="id_method_table"></td>
          <td id="id_date_table"></td>
          <td id="id_amount_table"></td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteRow(this)" style="display: none;"></td>
          <td hidden>
            {{ payment_formset.empty_form.as_div }}
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div id="totals_box">
    <div>
      <p>Weight</p>
      <span id="id_net_weight_total"></span>
    </div>
    <div>
      <p>Subtotal</p>
      <span id="id_subtotal_total"></span>
    </div>
    <div>
      <p>Tax</p>
      <span id="id_tax_total"></span>
    </div>
    <div>
      <p>Total</p>
      <span id="id_total_total"></span>
    </div>
  </div>

  <a href="{% url 'invoices' %}"><button type="button" class="new_button" id="invoice_cancel">Cancel</button></a>
  <button type="reset" class="clear_button" id="invoice_clear">Reset</button>
  <button type="submit" class="submit_button" id="invoice_submit">Submit</button>
</form>

<div id="product_subform">
  <button type="button" class="new_button" id="product_new" onclick="newProductRow(this)">New</button>
  <form action="javascript:submitProductRow(this)" hidden id="products_subform">
    <div>
      <input type="radio" name="radio_type" id="id_tagged" value="tagged" oninput="switchProductFields(this)" required>
      <label for="id_tagged">Tagged</label>
      <input type="radio" name="radio_type" id="id_untagged" value="untagged" oninput="switchProductFields(this)">
      <label for="id_untagged">Untagged</label>
    </div>

    <div>
      <label for="id_product">ID</label>
      <input type="number" id="id_product" name="product" oninput="validateProductID(this)">
    </div>
    
    {{ untagged_form.as_div }}

    
    <button type="reset" class="clear_button" id="product_clear">Clear</button>
    <button type="submit" class="submit_button" id="product_submit">Submit</button>
  </form>
</div>

<div id="advance_subform">
  <button type="button" class="new_button" id="advance_new" onclick="newAdvanceRow(this)">New</button>
  <form action="javascript:submitAdvanceRow(this)" hidden id="advances_subform" onchange="validateAdvanceID(this)">
    {{ invoice_advance_form.advance }}
    <input type="text" name="date" id="id_date" hidden>
    <input type="text" name="name" id="id_name" hidden>
    <input type="text" name="amount" id="id_amount" hidden>
    <button type="submit" class="submit_button" id="advance_submit">Submit</button>
  </form>
</div>

<div id="payment_subform">
  <button type="button" class="new_button" id="payment_new" onclick="newPaymentRow(this)">New</button>
  <form action="javascript:submitPaymentRow(this)" hidden id="payments_subform">
    <div id="payment_subform_div">
      {{ payment_form.as_div }}
    </div>
    <button type="reset" class="clear_button" id="payment_clear">Clear</button>
    <button type="submit" class="submit_button" id="payment_submit">Submit</button>
  </form>
</div>

{% endblock %}
