{% extends "masters/layout.html" %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'sales/css/layout.css' %}">
  {% block link_extend %}
  {% endblock %}
{% endblock %}

{% block body %}
</div>
  <span id="title">Sales</span>
  <ul id="sales-nav-ul">
    <li class="sales-nav-li"><a href="{% url 'invoices' %}">Invoices</a></li><!--
  --><li class="sales-nav-li"><a href="{% url 'home_sales' %}">Home Sales</a></li><!--
  --><li class="sales-nav-li"><a href="{% url 'advances' %}">Advances</a></li>
  </ul>
    <div id="box">
      <a href="{% block new_button_link %}{% endblock %}"><button type="submit" name="new" id="new">New</button></a>
      
      <form action="{{ request.path }}" method="get">
        <input id="start_date" type="date" name="start_date" value="{{ start_date }}" oninput="this.parentElement.submit()">
        <span id="TO">TO</span>
        <input id="end_date" type="date" name="end_date" value="{{ end_date }}" oninput="this.parentElement.submit()">
        <img src="{% static 'sales/svg/search_icon.svg' %}" id="search_icon">
        <input id = "search" type="search" name="search" value="{{ search }}" placeholder="Search">
      </form>
      {% block table %}
      {% endblock %}
    </div>
{% endblock %}
