{% extends "masters/layout.html" %}
{% load static %}

{% block title %} New Product {% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'stock/css/product_form.css' %}">
  <script src="{% static 'stock/js/product_form.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}
  <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div id="product_form_box">
      <div class="product_form_box">
        <h1>1. Tag Details</h1>
        <div>
          <label for="id_id">ID</label>
          <input type="number" value="{{ id }}" id="id_id" readonly>
        </div>
        {{ tag_details_form.as_div }}
      </div>
      <div class="product_form_box">
        <h1>2. Metal Details</h1>
        {{ metal_details_form.as_div }}
      </div>
      <div class="product_form_box">
        <h1>3. Product Details</h1>
        {{ product_details_form.as_div }}
      </div>
      <div class="product_form_box">
        <h1>4. Making Details</h1>
        {{ making_details_form.as_div }}
        <div>
          <label for="id_calculation">Calculation</label>
          <div id="id_calculation">
            <div>
              <input type="radio" name="calculation" value="Making Charges" id="id_calculation_1" oninput="makeRequired(this)" required {% if form.calculation.value == "Making Charges" %} checked {% endif %}><label for="id_calculation_1">Making Charges</label>
            </div>
            <div>
              <input type="radio" name="calculation" value="Wastage" id="id_calculation_2" oninput="makeRequired(this)" {% if form.calculation.value == "Wastage" %} checked {% endif %}><label for="id_calculation_2">Wastage</label>
            </div>
            <div>
              <input type="radio" name="calculation" value="MRP" id="id_calculation_3" oninput="makeRequired(this)" {% if form.calculation.value == "MRP" %} checked {% endif %}><label for="id_calculation_3">MRP</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="studs_box">
      <h1>5. Studding Details</h1>
      <table id="studs_table">
        <thead>
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Less</th>
            <th>Colour</th>
            <th>Shape</th>
            <th>Quantity</th>
            <th>Weight</th>
            <th>Rate</th>
            <th>Value</th>
            <th></th>
          </tr>
        </thead>
        {% for stud in formset %}
        <tr>
          <td>{{ forloop.counter }}{{ stud.id }}</td>
          <td id="id_type_table">{{ stud.type.value }}</td>
          <td id="id_less_table">{{ stud.less.value }}</td>
          <td id="id_colour_table">{{ stud.colour.value }}</td>
          <td id="id_shape_table">{{ stud.shape.value }}</td>
          <td id="id_quantity_table">{{ stud.quantity.value }}</td>
          <td><p id="id_weight_table">{{ stud.weight.value }}</p> <p id="id_unit_table">{{ stud.unit.value }}</p></td>
          <td id="id_rate_table">{{ stud_formset.rate.value }}</td>
          <td id="id_value_table">{{ stud_formset.value.value }}</td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteStudRow(this)"></td>
          <td hidden>
            {{ stud.as_div }}
          </td>
        </tr>
        {% endfor %}
        <tr style="display: none;">
          <td></td>
          <td id="id_type_table"></td>
          <td id="id_less_table"></td>
          <td id="id_colour_table"></td>
          <td id="id_shape_table"></td>
          <td id="id_quantity_table"></td>
          <td><p id="id_weight_table"></p> <p id="id_unit_table"></p></td>
          <td id="id_rate_table"></td>
          <td id="id_value_table"></td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteStudRow(this)" style="display: none;"></td>
          <td hidden>
            {{ formset.empty_form.as_div }}
          </td>
        </tr>
      </table>
  </div>

  <div id="totals_box">
    <a href="{% url 'product_detail' pk=1 %}"><button id="cancel" type="button" name="cancel">Cancel</button></a>
    <button id="save" type="submit" name="save">Save</button>
  </div>
  </form>

  <div id="studs_subform_box">
    <button type="button" class="new_button" id="stud_new" onclick="newStudRow(this)">New</button>
    <form action="javascript: submitStudRow(this)" id="studs_subform" hidden>
      <div id="stud_subform">
        {{ stud_form.as_div }}
      </div>
      <button type="reset" class="clear_button" id="stud_clear">Clear</button>
      <button type="submit" class="submit_button" id="stud_submit">Submit</button>
    </form>
  </div>

{% endblock %}
