#highlight {
  position: absolute;
  left: 0vw;
  top: 50vh;
  width: 6.25vw;
  height: 8.33vh;
  background: rgba(245, 248, 253, 0.4);
}

#outer-box {
  display: none;
}

#box {
  position: absolute;
  width: 93.75vw;
  height: 83.33vh;
  left: 6.25vw;
  top: 16.67vh;
  background: #FFFFFF;
}

#title {
  position: absolute;
  width: 26.5625vw;
  height: 8.33vh;
  left: 9.375vw;
  top: 2.778vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.03125vw;
  display: flex;
  align-items: center;
  color: #2D2D2D;
}

#new {
  position: absolute;
  width: 9.375vw;
  height: 5.56vh;
  left: 3.125vw;
  top: 5.56vh;
  background: #A44B85;
  border-radius: 1.5625vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.859375vw;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
}

#export {
  position: absolute;
  width: 9.375vw;
  height: 5.56vh;
  left: 15.625vw;
  top: 5.56vh;
  background: #2D2D2D;
  border-radius: 1.5625vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.859375vw;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
}

#type {
  position: absolute;
  width: 12.5vw;
  height: 5.56vh;
  left: 28.125vw;
  top: 5.56vh;
  background: #FFFFFF;
  border: 0.078125vw solid #2D2D2D;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.859375vw;
  color: #2D2D2D;
}

#start_date {
  width: 9.375vw;
  height: 5.56vh;
  position: absolute;
  top: 5.56vh;
  left: 43.75vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.859375vw;
  line-height: 5.56vh;
  text-align: center;
  color: #2D2D2D;
  border: 0.078125vw solid #2D2D2D;
  box-sizing: border-box;
  border-radius: 0.390625vw;
}

#TO {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.125vw;
  height: 5.56vh;
  line-height: 5.56vh;
  position: absolute;
  top: 5.56vh;
  left: 53.125vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
}

#end_date {
  width: 9.375vw;
  height: 5.56vh;
  position: absolute;
  top: 5.56vh;
  left: 56.25vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.859375vw;
  text-align: center;
  line-height: 5.56vh;
  color: #2D2D2D;
  border: 0.078125vw solid #2D2D2D;
  box-sizing: border-box;
  border-radius: 0.390625vw;
}

#search_icon {
  width: 1.5625vw;
  height: 2.67vh;
  position: absolute;
  top: 6.944vh;
  left: 69.53125vw;
  z-index: 1000000;
}

#search {
  width: 21.875vw;
  height: 5.56vh;
  position: absolute;
  top: 5.56vh;
  left: 68.75vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.859375vw;
  border: 0.078125vw solid #2D2D2D;
  box-sizing: border-box;
  border-radius: 0.390625vw;
  padding-left: 3.125vw;
  line-height: 5.56vh;
}

#table-thead {
  width: 87.5vw;
  height: 2.67vh;
  margin-top: 16.67vh;
  margin-left: 3.125vw;
  background: #2D2D2D;
  border-collapse: collapse;
}

#table {
  margin-left: 3.125vw;
  display: block;
  overflow: scroll;
  scrollbar-width: thin;
  width: 87.5vw;
  height: 55.56vh;
  border-collapse: collapse;
}

#table tr:nth-child(odd) {
  background: #FFFFFF;
}

#table tr:nth-child(even) {
  background: #E5E5E5;
}

#table-thead th {
  height: 5.56vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.859375vw;
  color: #FFFFFF;
  padding-right: 1.5625vw;
}

#table td {
  height: 5.56vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.859375vw;
  color: #2D2D2D;
  padding-right: 1.5625vw;
}

#table td:nth-child(1), #table-thead th:nth-child(1) {
  width: 4.6875vw;
  text-align: center;
}

#table td:nth-child(2), #table-thead th:nth-child(2) {
  width: 4.6875vw;
  text-align: center;
}

#table td:nth-child(3), #table-thead th:nth-child(3) {
  width: 6.25vw;
  text-align: left;
}

#table td:nth-child(4), #table-thead th:nth-child(4) {
  width: 6.25vw;
  text-align: center;
}

#table td:nth-child(5), #table-thead th:nth-child(5) {
  width: 9.375vw;
  text-align: left;
}

#table-thead th:nth-child(6), #table td:nth-child(6) {
  width: 10.9375vw;
  text-align: left;
}

#table-thead th:nth-child(7), #table-thead th:nth-child(8), #table-thead th:nth-child(9) {
  width: 7.8125vw;
  text-align: center;
}

#table td:nth-child(7), #table td:nth-child(8), #table td:nth-child(9) {
  width: 7.8125vw;
  text-align: right;
}

#table-thead th:nth-child(10), #table td:nth-child(10) {
  width: 7.8125vw;
  text-align: center;
  padding-right: 0;
}

#table td a {
  text-decoration: none;
  color: #2D2D2D;
}

#table img {
  width: 1.5625vw;
  height: 2.78vh;
}

#table tbody a:nth-of-type(1) img {
  margin-right: 0.78125vw;
}

#table tbody a:nth-of-type(2) img {
  margin-left: 0.78125vw;
}