#highlight {
    position: absolute;
    left: 0vw;
    top: 50vh;
    width: 6.25vw;
    height: 8.33vh;
    background: rgba(245, 248, 253, 0.4);
}

#outer-box {
    display: none;
}

table tbody tr:nth-child(odd) {
    background: #FFFFFF;
}

table tbody tr:nth-child(even) {
    background: #E5E5E5;
}

h1 {
    height: 2.78vh;
    margin-left: 1.5625vw;
    margin-right: 1.5625vw;
    margin-top: 2.78vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vh;
    display: inline-block;

    color: #2D2D2D;
}

#voucher_box {
    position: absolute;
    width: 26.5625vw;
    height: 25vh;
    left: 7.8125vw;
    top: 2.78vh;

    background: #FFFFFF;
    border-radius: 1.3889vh;
    flex-direction: column;
    box-sizing: border-box;
    column-gap: 0px;
}

#customer_box {
    position: absolute;
    width: 26.5625vw;
    height: 55.56vh;
    left: 7.8125vw;
    top: 30.556vh;

    background: #FFFFFF;
    border-radius: 1.3889vh;
    box-sizing: border-box;
    flex-direction: column;
    column-gap: 0px;
}

#voucher_box div, #customer_box div {
    display: inline-flex;
    width: 23.4375vw;
    height: 2.78vh;
    margin-top: 2.78vh;
    margin-left: 1.5625vw;
    vertical-align: top;
}

#voucher_box label, #customer_box label {
    display: inline-block;
    width: 4.6875vw;
    height: 2.78vh;
    vertical-align: middle;


    /* Sub-Body */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.11vh;
    line-height: 2.78vh;
    box-sizing: border-box;

    color: #2D2D2D;
}

#voucher_box input,  #voucher_box select, #customer_box input,  #customer_box select, #customer_box textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 18.75vw;
    height: 2.78vh;
    text-align: center;

    background: #FFFFFF;
    border: 0.1389vh solid #2D2D2D;
    border-radius: 0.278vh;
}

#voucher_box div:nth-child(1), #voucher_box div:nth-child(2) {
    width: 10.9375vw;
}

#voucher_box div:nth-child(1) input, #voucher_box div:nth-child(2) input {
    width: 6.25vw;
}

#voucher_box div:nth-child(2) {
    margin-left: 1.5625vw;
}

#customer_box div:nth-last-child(3), #customer_box textarea {
    height: 5.556vh;
}

#customer_box div:nth-last-child(2) input {
    width: 9.375vw;
}

#customer_box div:nth-last-child(2) {
    width: 14.0625vw;
}

#customer_box div:nth-last-child(1) {
    margin-left: 0;
    width: 9.375vw;
}

#customer_box div:nth-last-child(1) label {
    text-align: center;
    width: 3.125vw;
}

#customer_box div:nth-last-child(1) input {
    width: 6.25vw;
}

#particulars_box {
    position: absolute;
    width: 62.5vw;
    height: 83.33vh;
    left: 35.9375vw;
    top: 2.78vh;
    
    background: #FFFFFF;
    border-radius: 1.3889vh;
}

.products_table {
    display: inline-block;
    width: 59.375vw;
    height: 13.89vh;
    margin-left: 1.5625vw;
    margin-top: 2.78vh;
    border-collapse: collapse;
    overflow-y: scroll;
}

table.products_table thead {
    background: #2D2D2D;
}

table.products_table thead th {
    height: 2.78vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.11vh;
    text-align: center;

    color: #FFFFFF;
    padding-right: 1.5625vw;
}

table.products_table tbody tr td {
    height: 2.78vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.11vh;
    color: #2D2D2D;
    vertical-align: middle;
    padding-right: 1.5625vw;
    text-align: right;
}

table.products_table th, table.products_table td {
    width: 4.6875vw;
    text-align: center;
}

table.products_table th:first-child, table.products_table td:first-child {
    width: 1.5625vw;
    text-align: center;
}

table.products_table th:nth-child(2), table.products_table td:nth-child(2) {
    width: 7.8125vw;
    text-align: left;
}

p {
    width: fit-content;
    display: inline;
}

table.products_table td:nth-last-child(3), table.products_table th:nth-last-child(3) {
    width: 3.125vw;
    text-align: center;
}

table.products_table td:nth-last-child(4), table.products_table th:nth-last-child(4) {
    width: 3.125vw;
}

table.products_table th:last-child, table.products_table td:last-child {
    width: 1.5625vw;
    padding-right: 0;
}

#product_subform {
    position: absolute;
    width: 62.5vw;
    height: 41.67vh;
    left: 35.9375vw;
    top: 44.44vh;
    columns: 3;
    column-gap: 0px;
    padding-right: 1.5625vw;
    box-sizing: border-box;

    background: rgba(237, 237, 237, 0.4);
    border-radius: 0px 0px 1.389vh 1.389vh;
}

#product_subform div {
    display: inline-flex;
    align-items: center;
    width: 18.75vw;
    height: 2.78vh;
    margin-top: 2.78vh;
    margin-left: 1.5625vw;
}

#product_subform div label {
    display: inline-block;
    width: 4.6875vw;
    height: 2.78vh;

    /* Body */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5278vh;
    line-height: 2.78vh;
    text-align: left;

    color: #2D2D2D;
}

#product_subform div input, #product_subform div select {
    box-sizing: border-box;
    display: inline-block;
    width: 14.0625vw;
    height: 2.78vh;

    background: #FFFFFF;
    border: 0.1389vh solid #2D2D2D;
    border-radius: 0.2778vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5278vh;
    text-align: center;

    color: #2D2D2D;
}

#product_subform div:first-child {
    margin-left: 6.25vw;
}

#product_subform div:first-child input {
    width: fit-content;
}

#product_new {
    width: 18.75vw;
    left: 1.5625vw;
}

#product_clear {
    width: 18.75vw;
    left: 21.875vw;
}

#product_submit {
    width: 18.75vw;
    right: 1.5625vw;
}

div#totals_box {
    position: absolute;
    display: inline-block;
    width: 93.75vw;
    height: 11.11vh;
    background: rgba(255, 255, 255, 0.90);
    bottom: 0px;
    right: 0px;
}

div#totals_box div {
    display: inline-flex;
    width: 12.5vw;
    height: 5.56vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #2D2D2D;
    text-align: center;
    /* Body Bold */
    font-size: 1.52778vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    height: 5.56vh;

    border-radius: 0.69444vh;
    background: #E6E6E6;
    margin-top: 2.778vh;
    margin-left: 1.5625vw;
}

div#totals_box div p {
    position: absolute;
    margin: 0px;
    display: inline-flex;
    width: 12.5vw;
    height: 2.78vh;
    color: #888;
    /* Sub-Body */
    font-size: 1.11vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    text-align: left;
    top: 2.78vh;
}

#voucher_cancel {
    position: absolute;
    bottom: 2.778vh;
    right: 12.5vw;
    display: inline-block;
    width: 9.375vw;
    height: 5.56vh;
    color: #FFF;
    text-align: center;
    /* Body Bold */
    font-size: 1.52778vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 2.78vh;
    background: #2D2D2D;
}

#voucher_submit {
    position: absolute;
    bottom: 2.778vh;
    right: 1.5625vw;
    display: inline-block;
    width: 9.375vw;
    height: 5.56vh;
    color: #FFF;
    text-align: center;
    /* Body Bold */
    font-size: 1.52778vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 2.78vh;
    background: #A44B85;
}