{% extends "masters/layout.html" %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'masters/css/dashboard.css' %}">
  {% block link_extend %}
  {% endblock %}
{% endblock %}

{% block body %}
</div>
  <span id="title">Sales</span>
  <ul id="sales-nav-ul">
    <li class="sales-nav-li"><a href="{% url 'invoices' %}">Invoices</a></li><!--
  --><li class="sales-nav-li"><a href="{% url 'home_sales' %}">Home Sales</a></li><!--
  --><li class="sales-nav-li"><a href="{% url 'advances' %}">Advances</a></li>
  </ul>
    <div id="box">
      <a href="{% block new_button_link %}{% endblock %}"><button type="submit" name="new" id="new">New</button></a>
      <a href="{% block export_button_link %}{% endblock %}"><button type="submit" name="export" id="export">Export</button></a>
      <form action="{{ request.path }}" method="post">
        <input id="start_date" type="date" name="start_date" value="{{ start_date }}" oninput="this.parentElement.submit()">
        <span id="TO">TO</span>
        <input id="end_date" type="date" name="end_date" value="{{ end_date }}" oninput="this.parentElement.submit()">
        <img src="{% static 'sales/svg/search_icon.svg' %}" id="search_icon">
        <input id = "search" type="search" name="search" value="{{ search }}" placeholder="Search">
      </form>
      <table id="table-thead">
        <thead>
          <tr>
            <th>Metal</th>
            <th>Purity</th>
            <th>Type</th>
            <th>Category</th>
            <th>Gross Wt.</th>
            <th>Studding</th>
            <th>Net Wt.</th>
          </tr>
        </thead>
      </table>
      <table id="table">
        <tbody>
          {% for stock in dashboard %}
          <tr>
            <td>{{ stock.metal__metal }}
            <td>{{ stock.purity__purity }}</td>
            <td>{{ stock.type__type }}</td>
            <td>{{ stock.category__category }}</td>
            <td>{{ stock.gross_weight__sum|floatformat:'3'  }}</td>
            <td>{{ stock.studs_weight__sum|floatformat:'3'  }}</td>
            <td>{{ stock.net_weight__sum|floatformat:'3'  }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
