{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'masters/css/home.css' %}">
    <link rel="shortcut icon" href="{% static 'masters/svg/favicon.svg' %}">
  </head>
  <body>
    <div id="logo">
      <img id = "logo-text"  src = "{% static 'masters/svg/kaveri.svg' %}" alt="Kaveri Logo">
    </div>
    <ul>
      <li>
        <a href="<!-- TODO: Link to dashboard view -->"><button name="dashboard">Dashboard</button></a>
      </li>
      <li>
        <a href="{% url 'product_detail' pk=1 %}"><button name="stock">Stock</button></a>
      </li>
      <li>
          <a href="<!-- TODO: Link to invoice view -->"><button name="sales">Sales</button></a>
      </li>
      <li>
        <a href="<!-- TODO: Link to vouchers view -->"><button name="vouchers">Vouchers</button></a>
      </li>

      <li>
        <a href="{% url 'admin:index' %}"><button name="settings">Settings</button></a>
      </li>
    </ul>
  </body>
</html>
