{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'masters/css/layout.css' %}">
    <script src="{% static 'masters/js/layout.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'masters/svg/favicon.svg' %}">
    {% block link %}
    {% endblock %}
  </head>
  <body>
    <nav>
      <ul id = "nav-ul">
        <li class="nav-li"><a href="{% url 'home' %}"><img src="{% static 'masters/svg/Home.svg' %}" title="Home"></a></li>
        <li class="nav-li"><a href="{% url 'dashboard' %}"><img src="{% static 'masters/svg/Dashboard.svg' %}" title="Dashboard"></a></li>
        <li class="nav-li"><a href="{% url 'product_detail' pk=1 %}"><img src="{% static 'masters/svg/Stock.svg' %}" title="Stock"></a></li>
        <li class="nav-li"><a href="{% url 'invoices' %}"><img src="{% static 'masters/svg/Sales.svg' %}" title="Sales"></a></li>
        <li class="nav-li"><a href="{% url 'vouchers' %}"><img src="{% static 'masters/svg/Vouchers.svg' %}" title="Vouchers"></a></li>
        <li class="nav-li"><a href="{% url 'admin:index' %}"><img src="{% static 'masters/svg/Settings.svg' %}" title="Settings"></a></li>
      </ul>

      <div id = "nav-line"></div>
      <span id = "nav-avatar"><img src="{% static 'masters/svg/Avatar.svg' %}" title="Avatar"></span>
      <span id = "nav-logout"><a href="{% url 'logout' %}"><img src="{% static 'masters/svg/Logout.svg' %}" title="Logout"></a></span>
      <div id="highlight"></div>
    </nav>
    {% block errors %}
      
    {% endblock %}
    {% block body %}
    {% endblock %}
  </body>
</html>
