#highlight {
  position: absolute;
  left: 0vw;
  top: 41.667vh;
  width: 6.25vw;
  height: 8.33vh;
  background: rgba(245, 248, 253, 0.4);
}

#outer-box {
  width: 71.875vw;
  left: 26.5625vw;
}

#label-1{
  position: absolute;
  width: 14.0625vw;
  height: 5.55vh;
  line-height: 5.55vh;
  vertical-align: middle;
  left: 9.375vw;
  top: 5.55vh;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.40625vw;
  color: #2D2D2D;
}

#label-2{
  position: absolute;
  width: 42.1875vw;
  height: 5.55vh;
  line-height: 5.55vh;
  left: 3.125vw;
  top: 2.78vh;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.40625vw;
  color: #2D2D2D;
}

#label-3{
  position: absolute;
  width: 17.1875vw;
  height: 5.55vh;
  line-height: 5.55vh;
  vertical-align: middle;
  top: 2.78vh;
  left:3.125vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.859375vw;
  color: #2D2D2D;
}

#input-ul {
  position: absolute;
  top: 13.89vh;
  left: 9.375vw;
  list-style: none;
  margin: 0;
}

#input-ul label {
  height: 50%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.859375vw;
  display: inline-flex;
  color: #2D2D2D;
  margin-top: 2.78vh;
}

#input-ul input {
  height: 50%;
  width: 14.0625vw;
  left:9.375vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  display: grid;
  font-size: 0.859375vw;
  color: #2D2D2D;
  background: #FFFFFF;
  border: 0.078125vw solid #2D2D2D;
  box-sizing: border-box;
  padding-left: 0.15625vw;
}

#input-ul li:nth-child(1) input {
  background: #C4C4C4;
}

#input-ul li {
  position: relative;
  text-align: left;
  top: 0;
  left: 0;
  height: 5.56vh;
  margin-bottom: 2.78vh;
}

#table {
  display: inline;
  position:absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  margin-left: 3.125vw;
  background: #FFFFFF;
  height: 63.89vh;
  width: 42.1875vw;
  top: 13.89vh;
  border-collapse: collapse;
}

#table td, #table input {
  height: 5.56vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.859375vw;
  color: #2D2D2D;
  margin-left: 1.5625vw;
}

#table input {
  width: inherit;
  border: 0;
  padding: 0;
  background: transparent;
}

#table tr{
  display: inline-block;
  background: #EDEDED;
  margin-bottom: 2.78vh;
  background: rgba(237, 237, 237, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-radius: 5px;
}

#table td:nth-child(1){
  width: 3.125vw;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#table td:nth-child(2){
  width: 6.25vw;
  text-align: left;
}

#table td:nth-child(3){
  width: 6.25vw;
  text-align: left;
}

#table td:nth-child(4){
  width: 9.375vw;
  text-align: left;
}

#table td:nth-child(5){
  width: 6.25vw;
  text-align: right;
}

#table td:nth-child(7) {
  width: 3.125vw;
  height: 5.56vh;
  padding-right: 0;
}

.cross {
  width: 3.125vw;
  height: 5.56vh;
  cursor: pointer;
}

#box-1 {
  position: absolute;
  width: 23.4375vw;
  height: 100%;
  top: 0;
  right:0;
  background: rgba(237, 237, 237, 0.8);
  border-top-right-radius: 0.78125vw;
  border-bottom-right-radius: 0.78125vw;
}

#form-hidden {
  width: 18vw;
  height: 70vh;
  margin-top: 13.89vh;
  margin-left: 3.125vw;
}

#id_method {
  width: 17.1875vw;
  height: 2.778vh;
  background: #FFFFFF;
  border: 0.078125vw solid #2D2D2D;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 2.778vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.703125vw;
  padding-left: 1.5625vw;
}

.box_1_labels {
  display: none;
  align-items: center;
  width: 4.6875vw;
  height: 2.778vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.703125vw;
  color: #2D2D2D;
  margin-right: 1.5625vw;
  margin-bottom: 2.778vh;
}

.box_1_inputs, #amount {
  display: none;
  width: 10.9375vw;
  height: 2.778vh;
  background: #FFFFFF;
  border: 0.078125vw solid #2D2D2D;
  box-sizing: border-box;
  margin-bottom: 2.778vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.703125vw;
  padding-left: 1.5625vw;
}

#selected  {
  background-color: rgba(164, 75, 133, 0.3) !important;
  box-sizing: border-box;
}

#cancel {
  border: 0.15625vw solid #2D2D2D;
  background: #2D2D2D;
  border-radius: 1.5625vw;
  box-sizing: border-box;
  position: absolute;
  width: 9.375vw;
  height: 5.56vh;
  left: 9.375vw;
  top: 88.89vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.859375vw;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

#submit {
  position: absolute;
  width: 9.375vw;
  height: 5.56vh;
  left: 87.5vw;
  top: 88.89vh;
  background: #A44B85;
  border: 0.15625vw solid #A44B85;
  border-radius: 1.5625vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: #FFFFFF;
  cursor: pointer;
}
