{% extends "masters/layout.html" %}
{% load static %}

{% block title %} Voucher Form {% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'vouchers/css/voucher_form.css' %}">
  <script src="{% static 'vouchers/js/voucher_form.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}
<input type="hidden" id="id_voucher_number_issue" value="{{ voucher_number_issue }}">
<input type="hidden" id="id_voucher_number_receive" value="{{ voucher_number_receive }}">
<input type="hidden" id="id_voucher_number_urd" value="{{ voucher_number_urd }}">
<input type="hidden" id="id_voucher_number_purchase_bill" value="{{ voucher_number_purchase_bill }}">


<form action="{{request.path }}" method="post">
  {% csrf_token %}

  <div id="voucher_box">
    <div>
      <label for="id_id">I.D.</label>
      <input type="text" value="{{ id }}" readonly>
    </div><!-- 
    -->{{ form.as_div }}
  </div>

  <div id="customer_box">
    {{ customer_form.as_div }}
  </div>

  <div id="particulars_box">
    {{ product_formset.management_form }}
    {{ particular_formset.management_form }}
    <h1>Particulars</h1>
    <table class="products_table" id="products_table">
      <thead>
        <tr>
          <th>#</th>
          <th>Tagged</th>
          <th>Purity</th>
          <th>Pcs.</th>
          <th>Gross Wt.</th>
          <th>Net Wt.</th>
          <th>Rate</th>
          <th>Subtotal</th>
          <th>Tax</th>
          <th>Total</th>
          <th hidden></th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        {% for product in product_formset %}
          <tr>
            <td id="id_serial_number_table">{{ forloop.counter }}</td>
            <td><p id="id_metal_table">{{ product.instance.product.metal }}</p> <p id="id_category_table">{{ product.instance.product.category }}</p></td>
            <td id="id_purity_table">{{ product.instance.purity }}</td>
            <td id="id_pieces_table">{{ product.instance.product.pieces }}</td>
            <td id="id_gross_weight_table">{{ product.instance.product.gross_weight }}</td>
            <td id="id_net_weight_table">{{ product.instance.product.net_weight }}</td>
            <td id="id_rate_table">{{ product.rate.value }}</td>
            <td id="id_subtotal_table">{{ product.subtotal.value }}</td>
            <td id="id_tax_table">{{ product.sgst.value | add:product.cgst.value |add:product.igst.value |add:product.tcs.value }}</td>
            <td id="id_total_table">{{ product.total.value }}</td>
            <td hidden>
              {{ product.as_div }}
            </td>
            <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteParticularRow(this)"></td>
          </tr>
        {% endfor %}

        <tr style="display: none;">
          <td id="id_serial_number_table"></td>
          <td><p id="id_metal_table"><p> <p id="id_category_table"></p></td>
          <td id="id_purity_table"></td>
          <td id="id_pieces_table"></td>
          <td id="id_gross_weight_table"></td>
          <td id="id_net_weight_table"></td>
          <td id="id_rate_table"></td>
          <td id="id_subtotal_table"></td>
          <td id="id_tax_table"></td>
          <td id="id_total_table"></td>
          <td hidden>
            {{ product_formset.empty_form.as_div }}
          </td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteParticularRow(this)" style="display: none;"></td>
        </tr>
      </tbody>
    </table>

    <table class="products_table" id="particulars_table">
      <thead>
        <tr>
          <th>#</th>
          <th>Untagged</th>
          <th>Purity</th>
          <th>Pcs.</th>
          <th>Gross Wt.</th>
          <th>Net Wt.</th>
          <th>Rate</th>
          <th>Subtotal</th>
          <th>Tax</th>
          <th>Total</th>
          <th hidden></th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        {% for product in particular_formset %}
          <tr>
            <td id="id_serial_number_table">{{ forloop.counter }}</td>
            <td><p id="id_metal_table">{{ product.instance.metal }}</p> <p id="id_category_table">{{ product.instance.category }}</p></td>
            <td id="id_purity_table">{{ product.instance.purity }}</td>
            <td id="id_pieces_table">{{ product.instance.product.pieces }}</td>
            <td id="id_gross_weight_table">{{ product.instance.product.gross_weight }}</td>
            <td id="id_net_weight_table">{{ product.instance.product.net_weight }}</td>
            <td id="id_rate_table">{{ product.rate.value }}</td>
            <td id="id_subtotal_table">{{ product.subtotal.value }}</td>
            <td id="id_tax_table">{{ product.sgst.value | add:product.cgst.value |add:product.igst.value |add:product.tcs.value }}</td>
            <td id="id_total_table">{{ product.total.value }}</td>
            <td hidden>
              {{ product.as_div }}
            </td>
            <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteParticularRow(this)"></td>
          </tr>
        {% endfor %}

        <tr>
          <td id="id_serial_number_table"></td>
          <td><p id="id_metal_table"><p> <p id="id_category_table"></p></td>
          <td id="id_purity_table"></td>
          <td id="id_pieces_table"></td>
          <td id="id_gross_weight_table"></td>
          <td id="id_net_weight_table"></td>
          <td id="id_rate_table"></td>
          <td id="id_subtotal_table"></td>
          <td id="id_tax_table"></td>
          <td id="id_total_table"></td>
          <td hidden>
            {{ particular_formset.empty_form.as_div }}
          </td>
          <td><img class="cross" src="{% static 'sales/svg/cross.svg' %}" onclick="deleteParticularRow(this)" style="display: none;"></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div id="totals_box">
    <div>
      <p>Gross</p>
      <span id="id_gross_weight_total"></span>
    </div>
    <div>
      <p>Net</p>
      <span id="id_net_weight_total"></span>
    </div>
    <div>
      <p>Pure</p>
      <span id="id_pure_weight_total"></span>
    </div>
    <div>
      <p>Total</p>
      <span id="id_total_total"></span>
    </div>
  </div>

  <a href="{% url 'vouchers' %}"><button type="button" class="new_button" id="voucher_cancel">Cancel</button></a>
  <button type="submit" class="submit_button" id="voucher_submit">Submit</button>
</form>

<div id="product_subform">
  <button type="button" class="new_button" id="product_new" onclick="newParticularRow(this)">New</button>
  <form action="javascript:submitParticularRow(this)" hidden id="products_subform">
    <div>
      <input type="radio" name="radio_type" id="id_tagged" value="tagged" oninput="switchProductFields(this)" required>
      <label for="id_tagged">Tagged</label>
      <input type="radio" name="radio_type" id="id_untagged" value="untagged" oninput="switchProductFields(this)">
      <label for="id_untagged">Untagged</label>
    </div>

    <div>
      <label for="id_product">ID</label>
      <input type="number" id="id_product" name="product" oninput="validateProductID(this)">
    </div>
    
    {{ particular_form.as_div }}

    
    <button type="reset" class="clear_button" id="product_clear">Clear</button>
    <button type="submit" class="submit_button" id="product_submit">Save</button>
  </form>
</div>

{% endblock %}
