{% extends "masters/layout.html" %}
{% load static %}

{% block title %}Vouchers{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'vouchers/css/vouchers.css' %}">
{% endblock %}

{% block body %}
</div>
<span id="title">Vouchers</span>
  <div id="box">

    <a href="{% url 'vouchers_new' %}"><button type="submit" name="new" id="new">New</button></a>

    <!-- TODO: Export voucher URL -->
    <a href=""><button type="submit" name="export" id="export">Export</button></a>

    <!-- TODO: Filter vouchers URL -->
    <form action="" method="post">
      <select id="type" name="type" oninput="this.parentElement.submit()">
        <option value="Issue" {% if vouchers.first.type == "Issue" %} selected {% endif %}>Issue</option>
        <option value="Receive" {% if vouchers.first.type == 'Receive' %} selected {% endif %}>Receive</option>
        <option value="URD" {% if vouchers.first.type == 'URD' %} selected {% endif %}>URD</option>
      </select>
      <input id="start_date" type="date" name="start_date" value="{{ start_date }}" oninput="this.parentElement.submit()">
      <span id="TO">TO</span>
      <input id="end_date" type="date" name="end_date" value="{{ end_date }}" oninput="this.parentElement.submit()">
      <img src="{% static 'masters/svg/search_icon.svg' %}" id="search_icon">
      <input id = "search" type="search" name="search" value="{{ search }}" placeholder="Search">
    </form>

    <table id="table-thead">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vch. No.</th>
                <th>Type</th>
                <th>Date</th>
                <th>Name</th>
                <th>Firm</th>
                <th>Gross Wt.</th>
                <th>Net Wt.</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
            </thead>
    </table>

    <table id="table">
      <tbody>
        {% for voucher in vouchers %}
            <tr>
              <td>{{ voucher.id }}</td>
              <td>{{ voucher.voucher_number }}</td>
              <td>{{ voucher.type }}</td>
              <td>{{ voucher.date | date:"d-m-Y" }}</td>
              <td>{{ voucher.customer.name }}</td>
              <td>{{ voucher.customer.firm }}</td>
              <td>{{ voucher.gross_weight }} g</td>
              <td>{{ voucher.net_weight }} g</td>
              <td>₹{{ voucher.amount }}</td>
              <td>
                <a href="{% url 'voucher_edit' pk=voucher.pk %}"><img src="{% static 'masters/svg/edit.svg' %}" alt="Edit" title="Edit"></a>
                <a href="{% url 'voucher_print' pk=voucher.pk %}"><img src="{% static 'masters/svg/print.svg' %}" alt="Print" title="Print"></a>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
