{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
  <link rel="shortcut icon" href="{% static 'SVG/favicon.svg' %}">
</head>
<body>
  <div id="logo">
    <img id = "logo-text"  src = "{% static 'SVG/kaveri.svg' %}" alt="Kaveri Logo">
  </div>
  <div id = "bg-box"></div>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="username" id="username_text">Username</label>
    {{ form.username }}
    <label id="password_text" for="password">Password</label>
    {{ form.password }}
    <button id="login_button" type="submit" name="login">
      Log in
    </button>
  </form>
  {% if form.errors %}
    <span id="error">&#9888; Invalid Credentials</span>
  {% endif %}
</body>
</html>
